.DS_Store
.build
/Packages
/*.xcodeproj
Package.pins
*.o
Exchange
exchange_tests
order_book_tests
order_tests
trades
.vscode
bin
obj
target/
.ionide
trades.txt
*.pyc
__pycache__/
*.out
*.so
*.d
Part 1/cython_solution/build/
Part 1/cython_solution/Exchange.c
Part 2/cython_solution/build/
Part 2/cython_solution/Exchange.c
Part 1/c_solution/test_booklist
Part 1/c_solution/test_order
Part 1/c_solution/test_orderbook
Part 1/c_solution/test_orderlist
Part 1/c_solution/test_sizes
Part 2/c_solution/test_sizes
Part 2/c_solution/test_orderlist
Part 2/c_solution/test_orderbook
Part 2/c_solution/test_booklist
